<nav class="navbar w-100 ps-5">
    <div class="container-fluid d-flex">
      <div class="logo">
        <img class="img-fluid" src="assets/img/cabecera/gov.png" alt="">
      </div>
      <div class="d-flex align-items-center justify-content-end" *ngIf="usuario" style="color: white; margin-left: auto;">
        <span class="fs-12px p-3" style="cursor: default; user-select: none;"><b></b>{{ usuario.nombre }} {{ usuario.apellido }}</span>
        <img src="assets/img/iconos/user.png" alt="Icono" style="width: 24px; height: 24px;">
      </div>
      <div style="color: white; margin-right: 45px;" class="cursor-pointer">
        <span (click)="cerrarSesion()" style="margin-left: 15px;">
          <img src="assets/img/iconos/salir.png" alt="Icono" style="width: 30px; height: 24px;" title="Cerrar sesión">
        </span>
        <button *ngIf="inicioVigia2" type="button" class="boton primario relleno" (click)="cerrarSesion()">
          <img src="assets/img/iconos/salir.png" alt="Icono" style="width: 30px; height: 24px;" title="Volver al menú de módulos">
        </button>
      </div>
    </div>

</nav>

