<nav class="menu d-flex ps-5" *ngIf="this.rol && this.rol.modulos">
  <ul class="modulos">
    <li class="">
      <img src="assets/img/menu/logo.png" class="logoP">
    </li>
    <li [routerLinkActive]="'paolo'" [ngClass]="{'modulo':true, 'paolo':SeleccionarMenuP(modulo.ruta) }"
      *ngFor="let modulo of this.rol.modulos ">
      <span class="nombre-modulo" routerLink="/administrar{{modulo.ruta}}"
        (click)="nombreModuloSeleccionado = modulo.nombre">{{modulo.nombre}}</span>
      <ul class="submodulos" *ngIf="modulo.submodulos">
        <li class="submodulo" *ngFor="let submodulo of modulo.submodulos" (click)="navegarAlSubmodulo(submodulo)">
          <span class="nombre-submodulo ">{{ submodulo.nombre }}</span>
        </li>
      </ul>
    </li>
    <!-- <li class="modulo moduloseguridad" style="margin-left: 16px;">
      <span class="nombre-modulo">Seguridad</span>
      <ul class=" submodulosseguridad">
        <li class="submoduloseguridad " (click)="cerrarSesion()">
          <span *ngIf="inicioVigia2" class="nombre-submodulo nombre-submoduloseguridad">Volver</span>
          <span *ngIf="inicioSesion" class="nombre-submodulo nombre-submoduloseguridad">Salir</span>
        </li>
      </ul>
    </li> -->
  </ul>
  <!-- <div class="d-flex align-items-center justify-content-end ms-auto" *ngIf="usuario">
    <span class="fs-12px p-3 cursor-pointer"><b>Usuario: </b>{{ usuario.nombre }} {{ usuario.apellido }}</span>
  </div> -->
</nav>

<!-- <nav class="menu d-flex" *ngIf="this.rol && this.rol.modulos">
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="modulos">
    <li [routerLinkActive]="'activo'" class="modulo" *ngFor="let modulo of this.rol.modulos">
      <span
      class="nombre-modulo"
      routerLink="/administrar{{modulo.ruta}}"
      >{{modulo.nombre}}</span>
      <ul class="submodulos" *ngIf="modulo.submodulos">
        <li class="submodulo" *ngFor="let submodulo of modulo.submodulos" (click)="navegarAlSubmodulo(submodulo)">
          <span class="nombre-submodulo">{{ submodulo.nombre }}</span>
        </li>
      </ul>
    </li>
    <li class="modulo">
      <span class="nombre-modulo">Seguridad</span>
      <ul class="submodulos">
        <li class="submodulo" (click)="cerrarSesion()">
          <span class="nombre-submodulo">Salir</span>
        </li>
      </ul>
    </li>
  </ul>
  <div class="d-flex align-items-center justify-content-end ms-auto" *ngIf="usuario">
    <span class="fs-12px p-3 cursor-pointer"><b>Usuario: </b>{{ usuario.nombre }} {{ usuario.apellido }}</span>
  </div>
</nav> -->

<!-- //////////////////////////////////////////////////////////////////////////////// -->
<div class="contenedor-titulo"><!-- *ngIf="rol!.id === 7" -->
  <h1 class="titulo">TERMINALES</h1>
</div>
<div class="linea"></div>

<!-- <nav class="custom-breadcrumb" style="--bs-breadcrumb-divider: '>'; margin-left: 67px;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="getPrimeraRutaModulo()" (click)="seleccionarModulo(nombrePrimerModulo)">Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ nombreModuloSeleccionado === 'Inicio' ? 'Inicio' : nombreModuloSeleccionado }}
    </li>
  </ol>
</nav> -->
