.menu {
  height: 77px;
  background-color: #004884;
  color: white;
}
.modulos {
  display: flex;
  height: 100%;
  padding: 0;
}
.modulo {
  position: relative;
}
.nombre-modulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 23px 18px 26px;
  font-size: 14px;
}
.modulo.activo::after,
.modulo:hover::after {
  content: "";
  position: absolute;
  top: 4px;
  width: 100%;
  border-top: 3px solid #2db2ea;
}
.modulo .submodulos {
  display: none;
  padding: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: #e6effd;
  color: #3366cc;
}
.modulo:hover .submodulos {
  display: block;
}
.submodulo {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.nombre-submodulo {
  display: block;
  padding: 8px 15px;
}

.paolo {
  background-color: #fff !important;
  color: #004884;
}

.logoP {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.swal2-content-custom {
  padding: 20%;
  margin: auto;
  background-color: #f11111;
  text-align: center;
  /*text-align: left;  Esto es opcional, para asegurarte de que el texto está alineado a la izquierda */
}

.swal2-container-custom .swal2-popup {
  padding: 20px !important;
}

/******CLASES DE PAOLO*********************************/
.activeP {
  background-color: #fff !important;
  color: #004884;
}

.logoP {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
.contenedor-titulo {
  height: 85px;
  background-color: #333333;
  padding: 22px;
  /* margin-top: 45px; */
}

.titulo {
  margin: 0%;
  font-size: 32px;
  font-weight: bold;
  margin-left: 47px;
  color: white;
}

.descripcion {
  /* color: #004884; */
  color: white;
  font-size: 16px;
  margin-left: 26px;
  margin-bottom: 15px;
}

.linea {
  height: 5px;
  background-color: #3366cc;
  margin-bottom: 15px;
}
