<hr>
<div class="search-container">
  <!-- Input para buscar por ID -->
  <label for="filtro">Filtrar rutas</label>
  <div class="contenedor-input-botones">
    <div class="search-input-wrapper">
      <input id="filtro" type="text" class="form-control input-filtrar" placeholder="Buscar"
        [(ngModel)]="filteredID" (input)="filtrarRutas()"/>
      <button class="search-button">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <button type="button" class="boton primario relleno" (click)="limpiar()">
      Limpiar
    </button>
    <button type="button" class="boton primario relleno" style="margin-left: auto; margin-right: 60px;"
    (click)="crearNuevaRuta()">
      Agregar ruta <i class="bi bi-plus-circle"></i>
    </button>
  </div>
</div>

<div class="titulo-ruta">
  <label for="">Rutas</label>
</div>
<div class="ruta w-100 custom-scroll">
  <div class="d-flex mx-0 table-container">
    <table class="table custom-scroll">
      <thead class="encabezado">
        <tr>
          <th rowspan="2" style="width: 70px; text-align: center;"><span>Ruta</span></th>
          <th rowspan="2" style="width: 100px; text-align: center;"><span>N° de vias</span></th>
          <th colspan="3" class="origen"><span class="fs-14px">Origen</span></th>
          <th colspan="3" class="destino"><span class="fs-14px">Destino</span></th>
          <th rowspan="2" style="text-align: center;"><span>Detalles</span></th>
        </tr>
        <tr>
          <th style="border-left: 2px solid #c7d4ed; text-align: center;"><span>Departamento</span></th>
          <th style="text-align: center;"><span>Municipio</span></th>
          <th style="text-align: center;"><span>Centro poblado</span></th>
          <th style="border-left: 2px solid #c7d4ed; text-align: center;"><span>Departamento</span></th>
          <th style="text-align: center;"><span>Municipio</span></th>
          <th style="border-right: 2px solid #c7d4ed; text-align: center;"><span>Centro poblado</span></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let ruta of rutasMostradas | paginate: { itemsPerPage: itemsPerPageRutas, currentPage: pageRutas, id:'Ruta' }; let i = index"
          [class.faltante]="ruta.errorRutas">
          <td>{{ruta.index}}</td>
          <td style="text-align: center;">{{ruta.numeroVias}}</td>
          <td style="text-align: center;">{{ruta.departamentoOrigen}}</td>
          <td style="text-align: center;">{{ruta.municipioOrigen}}</td>
          <td style="text-align: center;">{{ruta.descripcionOrigen}}</td>
          <td style="text-align: center;">{{ruta.departamentoDestino}}</td>
          <td style="text-align: center;">{{ruta.municipioDestino}}</td>
          <td style="text-align: center;">{{ruta.descripcionDestino}}</td>
          <td style="text-align: center;"  [class.revisada]="ruta.revisada">
            <button type="button" class="boton primario relleno" (click)="revisarRuta(ruta)">
              Revisar <i class="bi bi-pen"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="rutasMostradas.length <= 0">
          <td colspan="8">
            <h6 class="sin-registros"> -- No hay rutas para mostrar. --</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <!-- Paginador -->
    <pagination-controls class="pagination-controls"
      (pageChange)="[pageRutas = $event, rutaSeleccionada = null, rutaConsultada = false]" previousLabel="Anterior"
      nextLabel="Siguiente" [maxSize]="7" [directionLinks]="true" [autoHide]="false" #paginador1 id="Ruta">
    </pagination-controls>
  </div>
</div>

