<label [for]="nombre" class="input-archivo d-flex" [ngClass]="{'disabled': disabled}">
  <div class="boton-adjuntar d-flex align-items-center justify-content-center">Seleccionar archivo</div>
  <div class="archivos">
    <div class="archivo d-flex" *ngIf="archivo">
      <span class="nombre-archivo">{{ archivo.name }}</span>
      <button class="eliminar-archivo" (click)="manejarRemoverArchivo($event)"><i class="bi bi-trash"></i></button>
    </div>
    <div class="sin-archivo d-flex" *ngIf="!archivo">
      <span>Sin archivo seleccionado</span>
    </div>
  </div>

  <input #input type="file" [accept]="unirAcepta()" [id]="nombre" [disabled]="disabled"
    (change)="onChangeFiles($event)">

</label>
