<div class="py-2 px-sm-3 px-md-4 px-lg-5 margen">
  <div class="d-block mb-3">
    <table class="informacion tabla-informacion ">
      <thead>
        <tr>
          <th colspan="2" style="text-align: center !important;">Información del formulario.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="fw-semibold titulo-fila" style="width: 150px !important;">Razón social</td>
          <td>
            <ng-container>
              {{usuario.nombre}}
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="fw-semibold titulo-fila">N° de Rutas</td>
          <td>
            <ng-container *ngIf="cantidadRutas">
              {{cantidadRutas.TotalRegistros}}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- //////////////SECCION BOTONES /////////////////////////////////////////// -->
  <div class="d-flex mt-4">
    <button type="button" class="boton primario relleno" [disabled]="hayCambios">Enviar a ST</button>
    <button type="button" class="boton primario relleno" style="margin-left: 300px;" [disabled]="!hayCambios">Guardar</button>
    <button type="button" class="boton primario delineado" style="margin-left: 300px;">Volver</button>
  </div>
  <!--  -->
  <app-rutas
    [verificacionVisible]="verificacionVisible"
    [verificacionEditable]="verificacionEditable"
    [editable]="editable"
    (hayCambios)="recibirHayCambios($event)"
    (rutasGuardar)="recibirRutas($event)"
    (paradasGuardar)="recibirParada($event)"
    (clasesGuardar)="recibirClases($event)"
  >
  </app-rutas>
</div>
