.paradas{
  margin-top: 20px;
}

.encabezado{
  width: auto;
  box-sizing: border-box;
  padding: 12px 15px;
  background-color: #E6EFFD;
  color: #004884;
  font-weight: 600;
}

/* .boton-agregar{
  margin-bottom: 10px;
  margin-left: 10px;
} */
