<div ngbAccordion style="box-shadow: 0px 3px 6px #00000029;">
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="fw-semibold texto-primario">
        PARADAS
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <table class="table">
            <thead class="encabezado">
              <tr>
                <th style="width: 100px;"><span class="fs-14px">Número</span></th>
                <th style="width: 200px;"><span class="fs-14px">Departamento</span></th>
                <th style="width: 200px;"><span class="fs-14px">Municipio</span></th>
                <th style="width: 200px;"><span class="fs-14px">Centro poblado</span></th>
                <th style="width: 200px;"><span class="fs-14px">Tipo de llegada</span></th>
                <th style="width: 200px;"><span class="fs-14px">Dirección</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parada of paradas; let i = index">
                <td>{{parada.parada_id}}</td>
                <td>
                  <select [(ngModel)]="parada.codigo_departamento" name="" [id]="'dep'+i" class="form-select"
                    (change)="maestraMunicipios(parada.codigo_departamento,'municipio'+i,i,true)">
                    <option [value]="null">Seleccione una opción</option>
                    <option *ngFor="let departamento of departamentos" [value]="departamento.codigoDepartamento">
                      {{departamento.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="parada.codigo_municipio" name="" [id]="'municipio'+i" class="form-select"
                    [disabled]="parada.codigo_departamento === null"
                    (change)="maestraCP(parada.codigo_municipio,'cp'+i,i,true)">
                    <option [value]="null">Seleccione una opción</option>
                    <option *ngFor="let municipio of parada.municipios" [value]="municipio.codigoMunicipio">
                      {{municipio.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="parada.codigo_cp" name="" [id]="'cp'+i" class="form-select"
                    [disabled]="parada.codigo_municipio === null">
                    <option [value]="null">Seleccione una opción</option>
                    <option *ngFor="let centroPoblado of parada.centrosPoblados"
                      [value]="centroPoblado.codigoCentroPoblado">{{centroPoblado.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="parada.tipo_llegada_id" name="" [id]="'tp'+i" class="form-select"
                    (change)="maestraDireccion(parada.tipo_llegada_id,parada.codigo_cp,true)">
                    <option [value]="null">Seleccione una opción</option>
                    <option *ngFor="let tipo of tiposLlegada" [value]="tipo.id">{{tipo.descripcion}}</option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="parada.direccion_id" name="" [id]="'dir'+i" class="form-select"
                    [disabled]="parada.tipo_llegada_id === null">
                    <option [value]="null">Seleccione una opción</option>
                    <option *ngFor="let direccion of parada.direcciones" [value]="direccion.id">
                      {{direccion.descripcion}}</option>
                  </select>
                </td>
              </tr>
              <!-- ///////////// BOTÓN PARA HABILITAR EL AGREGAR NUEVA RUTA -->
              <tr *ngIf="!verificacionVisible">
                <td colspan="18">
                  <button type="button" class="boton primario relleno"><!-- (click)="estadoAgregarRuta(true)" -->
                    Agregar ruta <i class="bi bi-plus-circle"></i>
                  </button>
                </td>
              </tr>
              <!-- //////////// AGREGAR NUEVA PARADA ///////////////////// -->
            </tbody>
          </table>
        </ng-template>
      </div>
      <div class="d-flex justify-content-end" style="margin-right: 20px;">
        <ngb-pagination [collectionSize]="paginadorParadas!.totalRegistros ?? 0" [page]="paginadorParadas!.pagina"
          [pageSize]="paginadorParadas!.limite" (pageChange)="paginadorParadas!.cambiarPagina($event)" [maxSize]="5">
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
